<h1><%= @wiki.title %></h1>
<h4><%= @wiki.user.username%></h4>
<div>
  <div>
    <p><%= @wiki.body %></p>
  </div>
  <div>
    <% if policy(@wiki).update? %>
      <%= link_to "Edit", edit_wiki_path(@wiki)%>
    <% end %>
    <% if policy(@wiki).destroy? %>
      <%= link_to 'Delete', @wiki, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>
