<h1><%= @wiki.title %></h1>
<h4><%= @wiki.user.username%></h4>
<div>
  <div>
    <p>Private: <%= @wiki.private %></p>
    <h3>Collaborators</h3>
    <% @wiki.collaborators.each do |collaborator| %>
      <span class="glyphicon glyphicon-user"></span>
      <%= collaborator.user.username %>
      &nbsp;
    <% end %>

    <p><%= markdown(@wiki.body) %></p>
  </div>
  <div>
    <% if policy(@wiki).update? %>
      <%= link_to "Edit", edit_wiki_path(@wiki)%>
    <% end %>
    <% if policy(@wiki).destroy? %>
      <%= link_to 'Delete', @wiki, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>
